<h1>Editing lead</h1>

<%= render "form", lead: @lead %>

<br>

<div class="btn-group">
  <%= link_to "Show this lead", @lead, class:"group-button" %> |
  <%= link_to "Back to leads", leads_path, class:"group-button" %>
</div>
