<div class="stack-center col-12 col-s-12">
	<div class="row-center col-12 col-s-12" id="home">
		<div class="stack-left col-6 col-s-12" id="homeinput">
			<span>Home Value:</span><input type="text" class="dollars-in">
			<span>Dwelling Coverage:</span><input type="text" class="dollars-in">
			<span>Extended Replacement:</span><input type="text" class="dollars-in">
			<span>Total Dwelling:</span><input type="text" class="dollars-in">
			<span>Square Footage:</span><input type="text" class="dollars-in">
			<span>Liability Coverage:</span><input type="text" class="dollars-in">
			<span>Home Premium:</span><input type="text" class="dollars-in">
			<span>Earthquake:</span><input type="text" class="dollars-in">
			<span>Flood:</span><input type="text" class="dollars-in">
			<span>Jewelry:</span><input type="text" class="dollars-in">
		</div>
		<div class="stack-left col-6 col-s-12" id="homecalc">
			<div data-calc-target="coverage" class="output"></div>
			<div data-calc-target="excessre" class="output"></div>
			<div data-calc-target="totalpremiums" class="output"></div>
		</div>
	</div>
	<div class="row-center col-12 col-s-12" id="auto">
		<div class="stack-left col-6 col-s-12" id="autoinput">
		</div>
		<div class="stack-left col-6 col-s-12" id="autocalc">
		</div>
	</div>
	<div class="row-center col-12 col-s-12" id="umbrella">
		<div class="stack-left col-6 col-s-12" id="umbrellainput">
		</div>
		<div class="stack-left col-6 col-s-12" id="umbrellacalc">
		</div>
	</div>
	<div class="row-center col-12 col-s-12" id="life">
		<div class="stack-left col-6 col-s-12" id="lifeinput">
		</div>
		<div class="stack-left col-6 col-s-12" id="lifecalc">
		</div>
	</div>
</div>
