<div class="stack-left col-12 col-s-12">
	<h1 class="subtitle">Profile</h1>
	<div class="stack-left col-8 col-s-12" id="myleads">
		<table>
			<thead>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Lines</th>
			</thead>
			<tbody>
				<% @current_user.leads.each do |lead| %>
					<%= render lead %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>