@use 'colors';


.card {
	font-family: "Righteous";
	justify-content: center;
	color: colors.$dark;
	width: inherit;
}
.card-title {
	font-size: 20pt;
	border-radius: 10px 10px 0 0;
}

.card-body {
	font-size: 15pt;
	color: colors.$grey;
}

.card-footer {
	font-size: 15pt;
	color: colors.$dark;
	border-radius: 0 0 10px 10px;
}