@use 'colors';

%ins-base {
	border-radius: .5rem 5rem .5rem 5rem;
	margin: 1rem;
	width: 95%;
	color: colors.$dark;
	border: 4px solid colors.$info;
	padding: 1rem;
}

#home {
	@extend %ins-base;
}

#auto {
	@extend %ins-base;
}

#umbrella {
	@extend %ins-base;
	
}

#life {
	@extend %ins-base;
}

#myleads {
	overflow-y: scroll;
	height: 50vh;
}

.output {
	margin: 1.5rem;
	font-weight: bold;
	font-size: 20pt;
}